<div class="row">
    <div class="col">
        <h6>Nosotros</h6>
        <iframe class="w-75"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12684.986951386925!2d-6.162829129509961!3d37.36033823401792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd12110e75b253f9%3A0x957b72dc37f7cbbf!2sLa%20Madruga!5e0!3m2!1ses!2ses!4v1674214902620!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p class="text-muted">Calle Huelva. 41806, Umbrete, Sevilla</p>
        <p class="text-muted">955 123 456</p>
        <p class="text-muted">info@mipistaya.es</p>
    </div>
    <div class="col">
        <div class="w-25 mx-auto">
            <img src="/appReservasPistas/public/images/Mi Pista Ya.png" alt="Logo Mi Pista Ta" class="w-25">
        </div>
    </div>
    <div class="col">
        <h6>Síguenos</h6>
        <!-- Iconos RRSSS -->
        <a href="">Política de privacidad</a>
    </div>
</div>
<div class="row">
    <p class="text-center text-muted">© Copyright 2023 MiPistaYa</p>
</div>
