<nav class="navbar navbar-expand-lg container-fluid">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/appReservasPistas/public/images/Mi Pista Ya.png" alt="Logo Mi Pista Ya">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="">Reservas 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Pistas 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Equipamiento
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">Nosotros
                    </a>
                </li>
            </ul>
            <form class="d-inline-flex" role="search">
                <button class="btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                    <i class="bi bi-search"></i>
                </button>
                <div class="collapse" id="collapseExample">
                    <input class="form-control me-2" type="search" placeholder="Buscar"
                        aria-label="Search" autofocus>
                </div>
            </form>
            <button class="btn btn-info">Registro
            </button>
            <button class="btn btn-info">Login
            </button>
        </div>
    </div>
</nav>