<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Scripts kit -->
    <script defer src="/javascripts/logic.js"></script>
    <script src="https://kit.fontawesome.com/7124061660.js" crossorigin="anonymous"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">    
    <title>MiPistaYa</title>
</head>
<!-- UNIR CON BACK -->
<body>
    <!-- MODAL -->
    <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered"  id="modalWidth" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <img src="/images/runner-login.png" class="d-md-flex col-md-6 col-lg-6 bg-image" alt="">
                        <div class="col-md-6">
                            <div class="login d-flex align-items-center py-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-11 mx-auto">
                                            <h3 class="login-heading mb-4">¡Bienvenido!</h3>
                                            <form method="post" action="/usuarios/login">
                                                <div class="form-floating mb-3">
                                                    <input type="email" class="form-control" id="floatingInput"
                                                        placeholder="name@example.com" name="email">
                                                    <label for="floatingInput">Dirección de correo</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="password" class="form-control" id="floatingPassword"
                                                        placeholder="Password" name="password">
                                                    <label for="floatingPassword">Contraseña</label>
                                                </div>

                                                <div class="form-check mb-3">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="rememberPasswordCheck">
                                                    <label class="form-check-label" for="rememberPasswordCheck">
                                                        Recordar contraseña
                                                    </label>
                                                </div>

                                                <div class="d-grid">
                                                    <button
                                                        class="btn btn-lg btn-login text-uppercase fw-bold mb-2 bg-morado text-light"
                                                        type="submit">Iniciar sesión</button>
                                                    <div class="text-center">
                                                        <a class="small" href="#">He olvidado mi contraseña</a>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END MODAL -->
    <div class="container-fluid px-5">
        <!-- Menú -->
        <header>
            <nav class="navbar navbar-expand-lg container-fluid">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="/images/Mi Pista Ya.png" alt="Logo Mi Pista Ya" class="w-25">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="">Reservas 
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Pistas 
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Equipamiento
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Nosotros
                                </a>
                            </li>
                        </ul>
                        <form class="d-inline-flex" role="search">
                            <button class="btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" aria-expanded="false"
                                aria-controls="collapseExample">
                                <i class="bi bi-search"></i>
                            </button>
                            <div class="collapse" id="collapseExample">
                                <input class="form-control me-2" type="search" placeholder="Buscar"
                                    aria-label="Search">
                            </div>
                        </form>
                        <a class="btn txt-morado">Registro
                        </a>
                        <a class="btn bg-morado text-light" data-bs-toggle="modal" data-bs-target="#modalLogin">Login
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container-fluid bg-morado p-5">
            <div class="card shadow p-3 rounded mx-auto">
                <h1>Listado de reservas</h1>
                <div class="list-group mt-3">
                    <% reservas.forEach(function(r) { %>
                    <a href="#" class="list-group-item list-group-item-action mb-2">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">ID: <%= r.id %></h5>
                            <small>Pagada: <%= r.pagada%></small>
                        </div>
                        <p class="mb-1">Fecha-Hora: <%= r.fecha_hora_reservada %></p>
                        <small>Titular: <%= r.titular_reserva %></small>
                        <div>
                            <button class="btn bg-morado btn-sm text-light">Eliminar</button>
                            <button class="btn bg-azul btn-sm">Modificar</button>
                        </div>
                    </a>
                    <% }); %>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <footer class="text-center border-top pt-2">
            <div class="row">
                <div class="col-sm">
                    <h6>Nosotros</h6>
                    <iframe class="w-75"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12684.986951386925!2d-6.162829129509961!3d37.36033823401792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd12110e75b253f9%3A0x957b72dc37f7cbbf!2sLa%20Madruga!5e0!3m2!1ses!2ses!4v1674214902620!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" title="Ubicación del polideportivo"></iframe>
                    <p class="text-muted mb-0">Calle Huelva. 41806, Umbrete, Sevilla</p>
                    <p class="text-muted mb-0">955 123 456</p>
                    <p class="text-muted mb-0">info@mipistaya.es</p>
                </div>
                <div class="col-sm">
                    <div class="mx-auto text-center">
                        <img src="/images/Mi Pista Ya.png" alt="Logo Mi Pista Ya" class="w-100">
                        <p class="text-muted">© Copyright 2023 MiPistaYa</p>
                    </div>
                </div>
                <div class="col-sm">
                    <h6>Síguenos</h6>
                    <!-- Iconos RRSSS -->
                    <div class="my-3">
                        <a href="http://www.facebook.com" target="_blank" class="txt-morado h2 m-1 bi bi-facebook" title="Facebook"></a>
                        <a href="http://www.instagram.com" target="_blank" class="txt-morado h2 m-1 bi bi-instagram" title="Instagram"></a>
                        <a href="http://www.twitter.com" target="_blank" class="txt-morado h2 m-1 bi bi-twitter" title="Twitter"></a>
                        <a href="http://www.tiktok.com" target="_blank" class="txt-morado h2 m-1 bi bi-tiktok" title="Tiktok"></a>    
                    </div>
                    <a href="">Política de privacidad</a>
                </div>
            </div>
        </footer>
    </div>
    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
</body>
</html>